header {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-family: "Compacta";
    font-weight: 100;
}
BODY {
    COLOR: black;
    background-color: black;
    font-family: Arial;
    font-size: 13px;
}

html, body {
    background-color: black; /* Set the background color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Set height to 100% */
}

@font-face {
    font-family: 'Compacta';
    src: url('../src/assets/fonts/Compacta/Compacta.ttf') format('truetype');
    src: url('../src/assets/fonts/Compacta/Compacta.woff') format('woff');
    src: url('../src/assets/fonts/Compacta/Compacta.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}